@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

*{margin:0;
 padding: 0;
 box-sizing: border-box;}

 body{
   height: 100vh; /*  so that it's going to be full screen*/
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
   font-family: Stick ,sans-serif;
   color: #fff;
 }

 .location,
 .temperature{
   height: 30vh;
   width: 50%;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }
 .location-timezone{
   color:white;
 }
 .temperature{
   flex-direction: column;
 }
 .degree-section{
   display: flex;
   align-items: center;
   cursor:pointer;
 }
  
 .degree-section span{
   margin: 10px;
   font-size: 30px;
 }

 .degree-section h2{
   font-size:40px;
 }
 
 #loct{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-left: 10px;
 }
 #loct img{
   background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,77,255,.8), rgba(0,0,255,0) 70.71%);
   border-radius: 10px;
 }
